Source: packrat-agent
Section: nonfree/autobots
Priority: optional
Maintainer: Peter Howe <peter.howe@emc.com>
Build-Depends: cdbs, debhelper (>= 7), python (>= 2.6), python-dev (>=2.7), python-setuptools (>=0.6), lsb-release
XS-Python-Version: >= 2.6
Standards-Version: 3.8.3

Package: packrat-agent
Architecture: all
Depends: python (>= 2.6), python-support, python-simplejson, python-cinp, python-arpy, plato-client, python-gpgme, yum, cron, ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: packrat agent
  packrat agent
